@media only screen and (max-width: 1607px){
    .positionAbout{
        top: 97% !important;
    }
    .contactInstagram img {
        width: 225px !important;
    }
}
@media only screen and (max-width: 1548px){
    .positionAbout {
        position: absolute;
        left: 63%;
        top: 95% !important;
    }
    .parentAbout2 .h4-a {
        font-size: 20px !important;
        color: gainsboro;
        margin-left: 30px;
    }
    .parentAbout2 h2 {
        font-size: 28px;
    }
    .positionAbout {
        left: 68% !important;
    }
    .servicesParent .serviceImg1 {
        left: 62% !important;
    }
}

@media only screen and (max-width: 1490px){
    .contactInstagram img {
        margin-left: 30px;
        margin-top: 10px;
    }
    .contactInstagram button {
        left: 46% !important;
    }
}

@media only screen and (max-width: 1500px){
    .parentAbout2{
        display: block !important;
    }
    .parentAbout2 img{
        width: 65% !important;
    }
    .parentAbout2 h5{
        text-align: center !important;
        margin-left: 0px !important;
    }
    .parentAbout2 .h4-a {
         margin-left: 0px !important; 
    }
    .parentAbout2 p {
        text-align: center !important;
        margin-left: 0px !important;
    }
    .positionAbout{
        display: none !important;
        /* width: 55% !important; */
    }
    
    .parentAbout{
        height: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        padding-bottom: 12px !important;
    }
    .parentAbout2 h2 {
         margin-left: 0px !important; 
    }
    
    .parentAbout2 {
        display: block !important;
    }
}
@media only screen and (max-width: 1450px){
    .danii{
        display: none !important;
    }
}

@media only screen and (max-width: 1400px){
    .parent button{
        left: 91% !important;
    }
    .parentTextHome{
        padding-top: 25% !important;
    }
    .parent2 li{
        margin-left: 80px !important;
    }
    .servicesParent .serviceImg1 img {
        margin-left: -28% !important;
        width: 89% !important;
        height: 241px !important;
    }
    .servicesParent .sP {
        font-size: 17px !important;
    }
    .servicesParent .sP {
        font-size: 16px !important;
    }
    .servicesParent .serviceImg1 {
        left: 58% !important;
        margin-top: 13% !important;
    }

}



@media only screen and (max-width: 1230px){
    .servicesParent .serviceImg1 {
        margin-left: 5%;
        height: 255px !important;
        width: 245px !important;
        margin-top: 17% !important;
    }
    .servicesParent .serviceImg1 img {
        margin-left: -22% !important;
        width: 83% !important;
        height: 219px !important;
    }
}

@media only screen and (max-width: 1200px){
    .parent2 li{
        margin-left: 60px !important;
    }
    .parentTextHome{
        padding-top: 30% !important;
    }
    .servicesParent .serviceImg1 img {
        margin-left: -22% !important;
        width: 79% !important;
        height: 203px !important;
    }
    .servicesParent .serviceImg1 {
        margin-left: 3%;
        height: 228px !important;
        width: 222px !important;
        margin-top: 17% !important;
    }
}
@media only screen and (max-width: 1100px){
    .parent button{
        left: 89% !important;
    }
    .parent2 a{
        font-size: 17px !important;
    }    
    .contactParent .contacSmallParent input {
        width: 40% !important;
    }
    .contactParent .contacSmallParent .messageInput {
        width: 87% !important;
    }
}

@media only screen and (max-width: 1070px){
    .servicesParent .serviceImg1 {
       display: none;
    }
    .servicesParent h2 {
        text-align: center !important;
    }
    .servicesParent p {
        text-align: center !important;
    }
    .servicesParent .serviceSmallDiv2 {
        margin-left: 38% !important;
    }
    .servicesParent p {
        color: gainsboro;
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 990px){
    .parent button{
        left: 87% !important;
    }
    .parent2 a{
       display: none;
    }
    .fa-facebook{
        display: none;
    }
    .fa-instagram{
        display: none;
    }
    .fa-square-twitter{
        display: none; 
    }
    .fa-layer-group{
        display: block !important;
    }
    .logo1{
        left: 4% !important;
    }
    .parentTextHome{
        padding-top: 35% !important;
    }
    .galleryBigParent .h22 {
       font-size: 23px !important;
    }
}
@media only screen and (max-width: 900px){
    .contactParent p {
        font-size: 23px !important;
    }
}
@media only screen and (max-width: 800px){
    .servicesParent p {
        font-size: 18px !important;
    }
    .contactParent .contacSmallParent {
        display: block !important;
    }
}
@media only screen and (max-width: 752px){
    .contactParent .contacSmallParent input {
        width: 85% !important;
    }
    .contactParent .contacSmallParent .messageInput {
        width: 85% !important;
    }
}
@media only screen and (max-width: 750px){
    .parent button{
        left: 84% !important;
    }
    .parent img {
        left: 4% !important;
    }
    .parentTextHome h1 {
        font-size: 85px !important;
    }
    .parentAbout2 .h4-a {
        font-size: 10px ;
    }
    .parentAbout2 h2 {
        font-size: 22px !important;
    }
    .parentAbout2 h5{
        margin-left: 0 !important;
    }
    .parentAbout2 p {
        font-size: 14px;
        margin-left: 0 !important;
    }
    .parentAbout{
        width: 100% !important;
    }
    .galleryBigParent {
        width: 100% !important;
    }
    .servicesParent{
        width: 100% !important;
    }
    .servicesParent p{
        font-size: 23px !important;
    }
    .servicesParent .sP {
        font-size: 18px !important;
    }
    .contactParent .contacSmallParent input {
        width: 88% !important;
    }
    .contactParent .contacSmallParent .messageInput {
        width: 85% !important;
    }
    .contactParent p {
        font-size: 20px !important;
    }
    .contactParent {
        width: 100% !important;
    }
    }

@media only screen and (max-width: 650px){
    .parentAbout2 img {
        height: 285px !important;
        width: 81% !important;
        margin-left: 0px !important;
    }
    .parentAbout2 .h4-a {
        font-size: 14px ;
    }
}
@media only screen and (max-width: 600px){
    .parent button{
        left: 80% !important;
    }
    .parent img{
        height: 15px !important;
    }
    .parent2 li {
        margin-left: 35px !important;
    }
    .modalNavV{
        width: 320px !important;
    }
    .logo1{
        left: 6% !important;
    }
    .parentTextHome h1 {
        font-size: 60px !important;
    }
    .parentTextHome{
        padding-top: 60% !important;
    }
    .servicesParent p {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 500px){
    .parent button{
        left: 75% !important;
    }
    .parent img{
        left: 0% !important;
    }
    .parentAbout2 img {
        height: 300px !important;
    }
    .servicesParent .sP {
         margin-left: 0px !important; 
        font-size: 20px;
    }
    .servicesParent .serviceSmallDiv {
        margin-left: 0px !important;  
   }
   .servicesParent .serviceSmallDiv2 {
    margin-left: 29% !important;
}
}
@media only screen and (max-width: 550px){
    .parentAbout2 h2 {
        font-size: 18px !important;
    }
    .servicesParent .serviceSmallDiv {
         margin-left: 0px !important;  
    }
    .servicesParent .sP {
        margin-left: 0px !important; 
    }
}
@media only screen and (max-width:534px){
    .contactInstagram button {
        left: 39% !important;
    }
}
@media only screen and (max-width: 450px){
    .parent2 li{
     margin-left : 20px !important;
    }
    .parentTextHome h1 {
     font-size: 52px !important;
     }
     .parentTextHome{
         padding-top: 90% !important;
     }
     .parentTextHome h4{
         font-size: 15px !important;
     }
     .parentTextHome button {
         height: 50px !important;
         width: 133px !important;
     }
     .parentAbout2 img {
        height: 270px !important;
    }
    .galleryBigParent .h22 {
        font-size: 17px !important;
    }
    .servicesParent .serviceSmallDiv2 {
        margin-left: 30% !important;
    }
    .contactParent .contacSmallParent input {
        margin-left: 20px !important;
    }
    .contactInstagram img {
        width: 65% !important;
    }
    .contactInstagram button {
        left: 37% !important;
    }
 }

@media only screen and (max-width: 400px){
    .parent button{
        left: 71% !important;
    }
    .parentAbout2 img {
        height: 239px !important;
    }
    .servicesParent .serviceSmallDiv2 {
        margin-left: 25% !important;
    }
    .servicesParent .serviceSmallDiv {
         margin-left: 0px !important; 
    }
}
@media only screen and (max-width: 390px){
    .contactInstagram button {
        left: 33% !important;
    }
}
@media only screen and (max-width: 370px){
    .servicesParent .serviceSmallDiv2 {
        margin-left: 22% !important;
    }
}

@media only screen and (max-width: 350px){
    .parent button{
        left: 69% !important;
        font-size: 11px !important;
        padding: 4px 20px !important;
    }
    .fa-sun{
        font-size: 20px !important;
        top: 25% !important;
    }
    .modalNavV{
        width: 280px !important;
    }
    .parentTextHome{
        padding-top: 100% !important;
    }
}
@media only screen and (max-width: 320px) {
    .contactInstagram button {
        left: 30% !important;
    }
}
