@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    animation: myani 10s infinite;
    margin: 0;
    padding: 0;
}
@keyframes myani{
    0%{
        background-image: url(img/bg1.jpg);
    }
    25%{
        background-image: url(img/bg2.jpg);
    }
    50%{
        background-image: url(img/bg3.jpg);
    }
    100%{
        background-image: url(img/bg4.jpg);
    }
}
html{
    scroll-behavior: smooth;
}


// NAV

.parent{
    background-color: #262626;
    width: 100%;
    height: 54px;
    position: fixed;
    z-index: 9999;
   

    button{
        background-color: #6f9a37;
        color: white;
        border: none;
        box-shadow: 0 2px 0 #6f9a37;
        position: relative;
        left: 93%;
        top: 10px;
        font-size: 14px;
        padding: 5px 20px;
        line-height: 1.5;
        border-radius: 5px;
        transition: 0.5s;
    }

    button:hover{
        background-color: #7aa93c;
    }

    img{
        display: inline-block;
        position: absolute;
        top: 18px;
        left: 2%;
        height: 18px;
        width: 152px;
    }
    
}

.parent2{
    padding-top: 130px;
    z-index: 9;
    display: flex;  
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 100%;
    position: fixed;
    transition: 0.5s;

    img{
        width: 40px;
        height: 40px;
        // margin-bottom: 60px;
    }

    a{
        color: white;
        text-decoration: none;
        transition: 0.5s;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    }
    
    a:hover{
        color: #34e3c9;
    }

    li{
        list-style: none;
        display: inline-block;
        margin-left: 100px;
    }
}

@mixin  icons($insta) {
    font-size: 25px;
    margin-left: 10px;
    background-color: $insta;
    color: rgb(255, 255, 255);
    border-radius: 50%
}
@mixin animIcons() {
    color: #34e3c9;
}
.fa-facebook{
    @include icons(black);
    transition: 0.3s
}
.fa-instagram{
    @include icons(transparent);   
    transition: 0.3s
}
.fa-square-twitter{
    @include icons(transparent);  
    transition: 0.3s
}
.fa-layer-group{
    @include icons(transparent);
    transition: 0.3s; 
    display: none; 
}
.fa-layer-group:hover{
    @include animIcons();
    cursor: pointer;
}
.fa-sun{
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 25px;
    transition: 0.5s;
}
.fa-sun:hover{
    cursor: pointer;
    transform: rotate(100deg);
}
.fa-facebook:hover{
    @include animIcons();
}
.fa-square-twitter:hover{
    @include animIcons();
}
.fa-instagram:hover{
    @include animIcons();
}


.modalNavV{
    position: absolute;
    position: fixed;
    background-color: #0a0b0f;
    width: 400px;
    z-index: 99;
    height: 100%;
    animation: myani2 1s;
    display: none;

    @keyframes myani2 {
        from{
            opacity: 0;
        }
    }

    img{
        position: fixed;
        top: 10%;
        left: 2%;
        height: 40px;
        width: 40px;
    }

    .fa-x{
        position: fixed;
        position: absolute;
        top: 10%;
        font-size: 25px;
        left: 90%;
        color: white;
        cursor: pointer;
    }

    a{
        color: white;
        text-decoration: none;
        transition: 0.5s;
        font-size: 20px;
        // margin-left: 35px ;
        font-family: 'Lato', sans-serif;
    }

    a:hover{
        color: #34e3c9;
    }

    li{
        margin-top: 30px;
        list-style: none;
    }
    .ulliad{
        margin-top: 150px;
    }
    .fa-facebook{
        font-size: 25px;
        margin-left: 50px;
        bottom: 15%;
        position: absolute;
    }
    .fa-instagram{
        position: absolute;
        bottom: 15%;
    }

    .fa-square-twitter{
        position: absolute;
        bottom: 15%;   
        margin-left: 45px;
    }
}
.modalNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #0a0b0f7e;
    display: none;
}


@mixin but() {
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    transition: 0.5s;
}
.parentTextHome{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 20%;
    height: 1500px;
    font-family: 'Lato', sans-serif;
    animation: myani3 1s;

    @keyframes myani3{
        from{
            opacity: 0;
            transform: translateY(50px);
        }
        to{

        }
    }

    h1{
        font-size: 100px;
    }

    button{
       @include but()
    }

}


// ABOUT

.parentAbout{
    background-color: rgba(10,11,15,.9);
    height: 500px;
    margin: 0 auto;
    margin-top: 360px;
    width: 70%;
    // display: flex;
    font-family: 'Lato', sans-serif;
    color: white;

  
}

.parentAbout2{
   display: flex;

    img{
        height:400px;
        margin-left: 30px;
        margin-top: 50px;
    }

    h2{
        margin-top: 50px;
        margin-left: 30px;
    }
    .h4-a{
        color: gainsboro;
        margin-left: 30px;
    }
    h5{
        margin-left: 30px;
        margin-top: 30px;
    }

    p{
        margin-left: 30px;
        margin-top: 10px;
    }
    .h5-b{
        margin-top: 180px;
    }
}

.parentAbout3{
    display: flex;
    text-align: end;
}
.positionAboutGg{
    position: relative;
    bottom: 58%;
}
.positionAbout{
    position: absolute;
    left: 65%;
}

.aboutClass{
    display: block;
    animation: myani4 1s;

    @keyframes myani4{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}






// Gallery

.galleryBigParent{
    background-color: rgba(10,11,15,.9);
    width: 70%;
    height: 100%;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    margin-top: 302px;
    
    
    h2{
        padding-top: 20px;
        margin-top: 30px;
        color: white;
    }
    .h22{
        margin-top: 10px;
        color: gainsboro;
    }
    p{
        display: inline-block;
    }
}

.galleryParent2{
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    img{
        width: 30%;
        margin-top: 30px;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;

        &:hover{
            transform: scale(0.8);
        }
    }
    
}

.galleryParent3{
    text-align: start;
    justify-content: space-around;
    color: white;
    display: flex;
    img{
        width: 30%;
        border-radius: 5px;
        margin-top: 30px;
        transition: 0.5s;
        cursor: pointer;

        &:hover{
            transform: scale(0.8);
        }
    }
}
.carousel-inner{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.modals{
    position: fixed;
    position: absolute;
    color: red;
    bottom: 82%;
    left: 19%;

    img{
        position: fixed;
    }

}




// SERVICES

@mixin icons2 {
    font-size: 25px;
    color: white;
}
.servicesParent{
    background-color: rgba(10,11,15,.9);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 200px;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    h2{
        color: white;
    }
    p{
        color: gainsboro;
        font-size: 25px;
    }

    .serviceSmallDiv{
        margin-left: 30px;
        padding-top: 30px;
    }

    .fa-camera{
       @include icons2()
    }

    .fa-pencil{
        @include icons2()
    }

    .fa-film{
        @include icons2()
    }    

    .serviceSmallDiv2{
        display: flex;
        margin-left: 30px;
        padding-top: 30px;

        h2{
            margin-left: 30px;
            font-size: 22px;
        }
    }
    .sP{
        margin-left: 30px;
        font-size: 20px;
    }
    .serviceImg1{
      justify-content: end;
      align-items: flex-end;
      background-image: url(img/s1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 65%;
      margin-top: 10%;
      height: 300px;
      width: 300px;

      img{
        margin-left: -40%;
        width: 100%;
        height: 250px;
        margin-top: 50%;
      }
    }   
}

// CONTACT

    

@mixin inputs() {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gainsboro;
    width: 30%;
    height: 50px;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
@mixin inputs2() {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gainsboro;
    width: 65%;
    height: 100px;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
input::placeholder{
    // padding-left: 10px;
    padding-top: 20px;
    // margin-left: 10px;
}
.contactParent{
    background-color: rgba(10,11,15,.9);
    width: 70%;
    height: 100%;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;

    h2{
        color: white;
        margin-left: 50px;
        padding-top: 30px;
    }

    p{
        color: gainsboro;
        font-size: 25px;
        margin-left: 50px;
    }
    .contacSmallParent{
        display: flex;

        input{
            @include inputs()
        }
        .messageInput{
            @include inputs2()
        }
      
        .fa-location-dot{
            color: white;
            font-size: 25px;
            margin-left: 15%;
        }

        .fa-mobile{
            color: white;
            font-size: 25px;
            margin-left: 25%;
        }

        .fa-telegram{
            color: white;
            font-size: 25px;
            margin-left: 25%;
        }

        .danii{
            justify-content: start;

            text-align: start;
        }
        .pGps{
            font-size: 15px;
        }
    }
   
    .contactSmallParent2{
        display: flex;
        margin-top: 30px;
        margin-left: 50px;
        transition: 0.3s;

        input{
            background-color: rgba(10,11,15,.9);
        }

        span{
            color: #34e3c9;
            margin-left: 10px;
        }

        button{
            @include but()   
        }

       
    }
}
.contactInstagram{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;

    img {
        border-radius: 10px;
        width: 250px;
        margin-left: 30px;
        filter: grayscale(80%);
    }

    button{
        @include but();
        position: absolute;
    }
}